
.ui-inputgroup{
    .ui-inputgroup-addon{
        border-radius:0 !important;
        background-color: transparent;
    }
    .ui-inputtext{
        border-radius:0 !important;
    }
    input{

    }
}